.connexion-top {
  width: 100%;
  border-color: blueviolet;
  border-bottom-width: 1.5;
  height: 75;
  background-color: #8e7cc3;
  float: top;
}

.title {
  margin-top: 20;
  width: 100%;
  border-radius: 50%;
  text-align: center;
  font-size: 22;
  color: white;
}

.GridCenter {
  margin-left: 30;
  margin-top: 10;
}

.textCenter {
  margin-left: 30;
  margin-top: 22;
}
