.page {
  align-items: center;
  flex-direction: column;
}

.connexion-top {
  width: 100%;
  border-color: black;
  border-bottom-width: 1.5;
  height: 150;
  float: top;
}

.GridCenter {
  margin-top: 8;
}

.Name {
  margin-top: 11;
  font-size: 15;
}