.connexion-top {
  width: 100%;
  border-color: blueviolet;
  border-bottom-width: 1.5;
  height: 75;
  background-color: #8e7cc3;
  float: top;
}

.banner {
  border-color: blueviolet;
  border-bottom-width: 1.5;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 22;
  color: white;
}
